package com.example.demo.repositoryies;

import java.util.Optional;
import org.springframework.data.jpa.repository.JpaRepository;
:importEntityName:

public interface :RepositoryName: extends JpaRepository<:EntityName: , Integer> {
;
}
