package :package;

import javax.persistence.Entity;
import javax.persistence.Table;
:hasID
import lombok.Getter;
import lombok.Setter;

@Entity
@Table(name = ":tableName")
@Getter
@Setter
public class :entityName {

  :propiedad
}
