package com.example.demo.models.entities;

import javax.persistence.Entity;
import javax.persistence.Table;
import lombok.Getter;
import lombok.Setter;

@Entity
@Table(name = :tableName)
@Getter
@Setter
public class UserEntity {

  :propiedad
  
}
